* {
  margin: 0;
  padding: 0;
  font-family: "Anton", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* BANNER-SECTION-START-HERE */
#banner {
  width: 100%;
  color: white;
}
.banner {
  background-image: url("images/donation13.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner-text {
  width: 700px;
  font-weight: bolder;
    
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.429); */
  /* margin: 0 auto; */
}
.banner .banner-text h1 {
  font-size: 50px;
  padding: 5px;
}
.banner-text p {
  /* color: red; */
  /* color: #FF5B40; */
  margin-top: 20px;
  padding: 5px;
}
.quote-person {
  /* color: red; */
}
 .donate-btn {
  margin-top: 12px;
  text-decoration: none;
  background-color: #ff5b40;
  display: inline-block;
  padding: 10px 18px;
  color: white;
  border-radius: 4px;
}

/* BANNER-SECTION-END-HERE */

/* DONATE-TODAY-START-HERE */
#donate-today{
    
}
.donate-today-top-text{
    
    font-family: 'Anton', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    width: 600px;
    padding: 20px;
    text-align: center;
    margin: 50px auto 0px auto;
}
.donate-today-top-text h1{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 11px;
}

.donate-today-amount-box{
    margin:50px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.amount-all{
    margin:0px 15px;
    padding: 45px;
    /* border: 1px solid; */
    border-radius: 6px;
    background-color: rgb(239, 238, 238);
}
.amount-active-color{
    background-color: rgba(245, 146, 131, 0.3);
    border: 3px solid #ff5b40;
}
.donate-input-field{
    width: 760px;
    text-align: center;
    margin: 40px auto;
    
}
#donate-input-field{
    width: 100%;
    text-align: center;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(203, 202, 202);
}
.donate-btn-2{
    margin:15px 0px ;
    display: inline-block;
}
/* DONATE-TODAY-END-HERE */
#donate-plan{
    width: 100%;
    margin-bottom: 25px;
}
.donate-plan{
    width: 100%;
}
.donate-plan-top-text{
    text-align: center;
    width: 550px;
    margin: 40px auto 20px auto;
    
}
.donate-plan-top-text{
    padding: 25px;
}
.donate-plan-card{
    width: 85%;
   
    /* height: 400px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.food-family{
    background-color: #edf5f6;
}
.shelter-family {
    background-color: #ffeeee;
}
.education-child{
    background-color: #fff4d6;
}
.donate-common{
    width:26.66%;
    
    margin: 0px 2.5% 0px 2.5%;
    padding: 12px 10px 12px 18px;
   
}
.img-all{
    margin-top:30px;
}
.donate-plan-card h3{
    margin: 12px 0px;
}
.donate-plan-card p{
    margin: 2px 0px 30px 0px;
}